.GridEntity__Wrapper {
  position: absolute;
  z-index: 10;
  text-align: center;
  min-width: 5em;
  min-height: 5em;
  max-width: 5em;
  max-height: 5em;
  width: 5em;
  height: 5em;
  padding: 0.2em;
  box-sizing: border-box;
  vertical-align: top;
  text-align: center;
  background-color: #FFF;
}

.GridEntity--Player {
  color: #A82255;
  border: 2px solid #A82255;
}

.GridEntity--Enemy {
  color: #5C255C;
  border: 2px solid #5C255C;
  border-style: dotted;
}

.GridEntity__Selected {
  border: 4px dashed #48aff0 !important;
  text-align: center;
}

.GridDead {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -.5em;
}

.GridBloody {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -.5em;
}
