@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";

.App {
  padding: 1em;
}

.Row {
  display: flex;
}

.Col {
  flex: 1;
  margin-right: 1em;
}

.Col:last-child {
  margin-right: 0;
}

.Col2 {
  flex: 2;
  margin-right: 1em;
}

.Col2:last-child {
  margin-right: 0;
}